body {
	background-color: #26282E;
	color: white;
}

.panel {
	width: 100%;
	height: 60px;
}

.index, .registration, .shortener, .list {
	height: 60px;
	float: left;
	text-align: center;
}

.login {
	height: 60px;
	float: right;
	text-align: center;
}

.main { 
	width: 100%;
	text-align: center;
}
