<body>
	{% include "header.html" %}
	{% block main %}
		<div class = "main">
			{% if link_list %}
				<table align="center">
					<tr>
						<th> Link </th> 
						<th> Link skrócony </th>
						<th> Typ </th>
						<th></th>
					</tr>
					{%for link in link_list%}
						<tr> 
							<td> {{link["link"]}} </td>
							<td> {{home_address}}{{link["short_link"]}} </td>
							<td> {{link["typ"]}} </td>
							<td> 
								<form action = "/edit" method = "get">
									<input type = "hidden" name = "short_link" value = "{{link['short_link']}}" />
									<input type = "submit" value = "Edytuj" />
								</form>
								<form action = "/list" method = "post">
									<input type = "hidden" name = "short_link" value = "{{link['short_link']}}" />
									<input type = "submit" value = "Usuń" />
								</form>
						</tr>
					{% end %}
				</table>
			{% end %}
		</div>
	{% end %}
</body>
</html>